


/*.1 , .2 , .3 , .4 , .5 {
	position: relative;
} */



body{
	width : 50%; 
	margin : auto;
}

header {

		background-color: #FF0000;
		display: inline-block;
}

main {
		background-color: #0000FF;
		display: inline-block;
}

nav {

	background-color: #00FF00;
	display: inline-block;
}

footer {

	background-color: #FFFF00;
	display: inline-block;
}

aside {

	background-color: #FF00FF;
	display: inline-block;
}

p {

	text-align: center;
}