

* {
	margin: 0 auto;
}

.lol {
	
}

body {
	margin: 0 auto;
	width: 60%;
}
p {
	text-align: center;
}

header {
	background-color: red;
	height: 100px;
	margin-top: 100px;
}
main {
	background-color: blue;
	height: 300px;
}
nav {
	float: left;
	height: 300px;
	width: 25%;
	background-color: #00FF00;
}

aside {
	background-color: #FF00FF;
	float: right;
	width: 25%;
	height: 300px;
}

footer {
	background-color: #FFFF00;
	height: 100px;
}



